Repository orderplatform-maeve/openapi-front, changes with the labels that .github/labeler.yml gives for each.
All labels: torder-admin, admin-ui, ui, utils, packages, markdown

feat: [ODPLFE-453] update node version
  package.json
Labels: none

feat: [ODPLFE-453] update prompt
  .github/workflows/code-review.yml
Labels: none

feat: [ODPLFE-453] readme update
  readme.md
Labels: markdown

feat: [ODPLFE-451] 티오더 어드민 > order admin api 페이지 접근 권한 체크 guard 로직 추가 (#44)
  .github/CODEOWNERS
  apps/torder-admin/src/api/api.test.ts
  apps/torder-admin/src/api/api.type.ts
  apps/torder-admin/src/api/orderAdminAuth/orderAdminAuth.fetch.ts
  apps/torder-admin/src/api/orderAdminAuth/orderAdminAuth.guard.ts
  apps/torder-admin/src/api/orderAdminAuth/orderAdminAuth.types.ts
  apps/torder-admin/src/features/index.test.ts
  apps/torder-admin/vitest.config.ts
Labels: torder-admin

feat: [ODPLFE-431] 티오더 어드민 > 인터널 권한 관리 시스템 로그인 연동 (#45)
  apps/torder-admin/package.json
  apps/torder-admin/src/conf/origin/dev.ts
  apps/torder-admin/src/conf/origin/prod.ts
  apps/torder-admin/src/conf/origin/qa.ts
  apps/torder-admin/src/conf/origin/stage.ts
  apps/torder-admin/src/pages/hooks/auth.tsx
  apps/torder-admin/src/pages/hooks/login.tsx
  pnpm-lock.yaml
Labels: torder-admin

feat: [ODPLFE-435] 마스터 태블릿 공지사항 테이블 UI (#43)
  apps/master-tablet/.storybook/main.js
  apps/master-tablet/.storybook/preview.js
  apps/master-tablet/package.json
  apps/master-tablet/src/features/notice/components/NoticeTable/index.tsx
  apps/master-tablet/src/features/notice/components/Table/TableBody.tsx
  apps/master-tablet/src/features/notice/components/Table/TableHeader.tsx
  apps/master-tablet/src/features/notice/components/Table/index.tsx
  apps/master-tablet/src/features/notice/constants/categories.ts
  apps/master-tablet/src/features/notice/hooks/useNoticeData.ts
  apps/master-tablet/src/features/notice/types/categorys.ts
  apps/master-tablet/src/features/notice/types/notice.ts
  apps/master-tablet/src/routes/notice/index.lazy.tsx
  apps/master-tablet/src/utills/formatters.ts
Labels: none

feat(master): [ODPLFE-383] 인증코드를 재사용가능하도록 별도의파일로 분리
  apps/master-tablet/README.md
  apps/master-tablet/src/routeTree.gen.ts
  apps/master-tablet/src/routes/store/index.lazy.tsx
  packages/client-fetcher/src/rest/client/index.ts
Labels: packages, markdown

refactor(master): [ODPLFE-383] 로그인 실패시 얼럿메세지를 onError 에서 처리하도록 변경
  apps/master-tablet/src/routes/login/index.lazy.tsx
  packages/client-fetcher/src/rest/hooks/useLoginApi.ts
  packages/client-fetcher/src/rest/index.ts
  packages/eslint-config-9/react.eslint.config.js
Labels: packages

feat(master): [ODPLFE-383] 로그인, 매장선택 구현
  apps/master-tablet/.env.dev
  apps/master-tablet/.env.prod
  apps/master-tablet/README.md
  apps/master-tablet/src/App.tsx
  apps/master-tablet/src/routeTree.gen.ts
  apps/master-tablet/src/routes/login/index.lazy.tsx
  apps/master-tablet/src/routes/login/index.module.css
  apps/master-tablet/src/routes/store/index.lazy.tsx
  apps/master-tablet/src/routes/store/index.module.css
  apps/master-tablet/src/shared/components/Button/Button.module.css
  apps/master-tablet/src/shared/components/Input/Input.module.css
  apps/master-tablet/src/shared/components/Input/Input.tsx
  apps/master-tablet/src/shared/components/Input/index.ts
  packages/client-fetcher/src/core/hooks/useClientMutation.ts
  packages/client-fetcher/src/core/hooks/useClientQuery.ts
  packages/client-fetcher/src/core/query-keys/index.ts
  packages/client-fetcher/src/rest/client/index.ts
  packages/client-fetcher/src/rest/hooks/useLoginApi.ts
  packages/client-fetcher/src/rest/hooks/useStoreListApi.ts
  packages/client-fetcher/src/rest/index.ts
Labels: packages, markdown

refactor(master): [ODPLFE-393] 불필요한 코드제거
  packages/client-fetcher/src/admin/todo/hooks/addTodo.ts
  packages/client-fetcher/src/core/client/index.ts
  packages/client-fetcher/src/core/hooks/useClientMutation.ts
  packages/client-fetcher/src/rest/client/index.ts
  packages/client-fetcher/src/rest/hooks/useLoginApi.ts
  pnpm-lock.yaml
Labels: packages

feat(master): [ODPLFE-367] socket.io 연결
  apps/master-tablet/.env.dev
  apps/master-tablet/.env.prod
  apps/master-tablet/src/main.tsx
  apps/master-tablet/src/shared/libs/socket.io/index.ts
  apps/master-tablet/src/types/socket.io-client.d.ts
Labels: none

chore: update pnpm lock
  pnpm-lock.yaml
Labels: none

chore: [ODPLFE-403] 티오더 어드민 > 불필요한 tsconfig reference 옵션 제거
  apps/torder-admin/tsconfig.json
Labels: torder-admin

feature/ODPLFE-466 packages/ui에 shadcn/ui 추가 (#48)
  apps/master-tablet/eslint.config.js
  apps/master-tablet/package.json
  apps/master-tablet/src/index.css
  apps/master-tablet/src/routeTree.gen.ts
  apps/master-tablet/src/routes/notice/index.lazy.tsx
  apps/master-tablet/tailwind.config.js
  packages/ui/components.json
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/readme.md
  packages/ui/shims.d.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/ui/badge.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/calendar.tsx
  packages/ui/src/components/ui/input.tsx
  packages/ui/src/components/ui/pagination.tsx
  packages/ui/src/components/ui/popover.tsx
  packages/ui/src/components/ui/table.tsx
  packages/ui/src/components/ui/tabs.tsx
  packages/ui/src/design-system/Button/Button.module.css
  packages/ui/src/design-system/Button/Button.stories.tsx
  packages/ui/src/design-system/Button/index.tsx
  packages/ui/src/design-system/index.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/tailwind.css
  packages/ui/tailwind.config.js
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: ui, packages, markdown

feat(admin): [ODPLFE-467] shadcn 전역 스타일 설정
  apps/torder-admin/src/features/index.ts
  apps/torder-admin/src/index.css
  apps/torder-admin/src/pages/_app.tsx
Labels: torder-admin

feat: [ODPLFE-467] storybook 추가
  apps/torder-admin/.gitignore
  apps/torder-admin/.storybook/main.ts
  apps/torder-admin/.storybook/preview.ts
  apps/torder-admin/package.json
  apps/torder-admin/src/features/commons/Sample/Sample.module.css
  apps/torder-admin/src/features/commons/Sample/Sample.stories.tsx
  apps/torder-admin/src/features/commons/Sample/index.tsx
Labels: torder-admin

.github/labeler.yml:

torder-admin:
  - 'apps/torder-admin/**/*'

admin-ui:
  - 'packages/admin-ui/**/*'

ui:
  - 'packages/ui/**/*'

utils:
  - 'packages/utils/**/*'

packages:
  - 'packages/**/*'

markdown:
  - '**/*.md'
