Repository orderplatform-maeve/openapi-front, changes with the labels that .github/labeler.yml gives for each.
All labels: master-client-1.0, ui, utils, packages, markdown

.github/labeler.yml:

master-client-1.0:
  - 'archives/master-client-1.0/**/*'

ui:
  - 'packages/ui/**/*'

utils:
  - 'packages/utils/**/*'

packages:
  - 'packages/**/*'

markdown:
  - '**/*.md'

fix: [ODPLFE-250] auth-partners 프로젝트 삭제 및 lock파일 최신화
  .github/workflows/CODEOWNERS
  apps/auth-partners/README.md
  apps/auth-partners/eslint.config.js
  apps/auth-partners/index.html
  apps/auth-partners/package.json
  apps/auth-partners/src/App.tsx
  apps/auth-partners/src/main.tsx
  apps/auth-partners/tsconfig.json
  apps/auth-partners/vite.config.ts
  pnpm-lock.yaml
Labels: markdown

feat: [ODPLFE-257] 마스터 태블릿 신규 프로젝트 생성 (#14)
  .gitignore
  apps/.DS_Store
  apps/master-tablet/.gitignore
  apps/master-tablet/README.md
  apps/master-tablet/eslint.config.js
  apps/master-tablet/index.html
  apps/master-tablet/package.json
  apps/master-tablet/postcss.config.js
  apps/master-tablet/public/mockServiceWorker.js
  apps/master-tablet/public/vite.svg
  apps/master-tablet/src/App.css
  apps/master-tablet/src/App.tsx
  apps/master-tablet/src/assets/react.svg
  apps/master-tablet/src/configs/mocks/browser.ts
  apps/master-tablet/src/configs/mocks/handlers.ts
  apps/master-tablet/src/configs/mocks/index.ts
  apps/master-tablet/src/configs/reactQuery.ts
  apps/master-tablet/src/features/todos/apis/hooks/useTodos.ts
  apps/master-tablet/src/features/todos/apis/mocks/handlers.ts
  apps/master-tablet/src/features/todos/apis/todos.ts
  apps/master-tablet/src/features/todos/apis/types/todo.type.ts
  apps/master-tablet/src/features/todos/components/TodoItem/index.tsx
  apps/master-tablet/src/features/todos/components/TodoList/index.tsx
  apps/master-tablet/src/index.css
  apps/master-tablet/src/main.tsx
  apps/master-tablet/src/pages/HomePage/index.tsx
  apps/master-tablet/src/pages/TodoPage/TodoPage.test.tsx
  apps/master-tablet/src/pages/TodoPage/index.tsx
  apps/master-tablet/src/vite-env.d.ts
  apps/master-tablet/tailwind.config.js
  apps/master-tablet/tsconfig.json
  apps/master-tablet/vite.config.ts
  pnpm-lock.yaml
  readme.md
Labels: markdown

feat: [ODPLFE-361] apis package draft (#24)
  .github/workflows/CODEOWNERS
  packages/client-fetcher/eslint.config.js
  packages/client-fetcher/package.json
  packages/client-fetcher/src/core/client/index.ts
  packages/client-fetcher/src/core/for-test/Providers.tsx
  packages/client-fetcher/src/core/hooks/useClientMutation.ts
  packages/client-fetcher/src/core/hooks/useClientQuery.ts
  packages/client-fetcher/src/core/query-keys/index.ts
  packages/client-fetcher/src/index.ts
  packages/client-fetcher/src/yes-no-wtf/client/index.test.ts
  packages/client-fetcher/src/yes-no-wtf/client/index.ts
  packages/client-fetcher/src/yes-no-wtf/hooks/useGetApi/index.test.ts
  packages/client-fetcher/src/yes-no-wtf/hooks/useGetApi/index.ts
  packages/client-fetcher/src/yes-no-wtf/index.ts
  packages/client-fetcher/tsconfig.json
  packages/client-fetcher/vitest.config.js
  packages/readme.md
  packages/typescript-config/base.json
  pnpm-lock.yaml
Labels: packages, markdown

refactor: [ODPLFE-367] 불필요한 타입정의영역 삭제
  apps/master-tablet/src/App.tsx
Labels: none

refactor: [ODPLFE-367] packages/master-design-system 에서 apps/master-tablet 으로 파일이동
  apps/master-tablet/src/shared/components/Button/Button.module.css
  apps/master-tablet/src/shared/components/Button/Button.stories.tsx
  apps/master-tablet/src/shared/components/Button/index.tsx
  apps/master-tablet/src/shared/components/Card/Card.module.css
  apps/master-tablet/src/shared/components/Card/Card.tsx
  apps/master-tablet/src/shared/components/Card/CardAction.tsx
  apps/master-tablet/src/shared/components/Card/CardSubTitle.tsx
  apps/master-tablet/src/shared/components/Card/CardText.tsx
  apps/master-tablet/src/shared/components/Card/CardTitle.tsx
  apps/master-tablet/src/shared/components/Card/index.ts
  apps/master-tablet/src/shared/components/Icons/IconClose.tsx
  apps/master-tablet/src/shared/components/Icons/IconLogout.tsx
  apps/master-tablet/src/shared/components/Icons/IconReload.tsx
  apps/master-tablet/src/shared/components/Icons/index.tsx
  apps/master-tablet/src/shared/components/Modal/Modal.module.css
  apps/master-tablet/src/shared/components/Modal/Modal.tsx
  apps/master-tablet/src/shared/components/Modal/index.ts
  apps/master-tablet/src/shared/components/Tabs/Tab.tsx
  apps/master-tablet/src/shared/components/Tabs/TabWindow.module.css
  apps/master-tablet/src/shared/components/Tabs/TabWindow.tsx
  apps/master-tablet/src/shared/components/Tabs/Tabs.module.css
  apps/master-tablet/src/shared/components/Tabs/Tabs.tsx
  apps/master-tablet/src/shared/components/Tabs/index.ts
  apps/master-tablet/src/shared/components/Tabs/useTabs.ts
  apps/master-tablet/src/widgets/clock/index.ts
  apps/master-tablet/src/widgets/logo/index.ts
  apps/master-tablet/src/widgets/modal/index.ts
  apps/master-tablet/src/widgets/reload-button/index.ts
  apps/master-tablet/src/widgets/store-menu-buttons/index.ts
  apps/master-tablet/src/widgets/tablet-menu-switches/index.ts
  packages/ui/.gitignore
Labels: ui, packages

refactor: [ODPLFE-367] px 을 rem 단위로 수정
  packages/ui/src/master-design-system/Modal/Modal.module.css
Labels: ui, packages

fix: [ODPLFE-367] 좌측메뉴의 active 상태를 위한 url 체크시 base path 만 바라보도록 수정
  apps/master-tablet/src/widgets/store-menu-buttons/StoreMenuButtons.tsx
Labels: none

refactor: [ODPLFE-367] storybook 을 구현하지 않은 관계로 stories 파일 삭제
  apps/master-tablet/src/shared/components/Button/Button.stories.tsx
Labels: none

refactor: [ODPLFE-367] css to tailwind 사이트를 이용해 tailwind 적용
  apps/master-tablet/src/routes/notice/index.module.css
  apps/master-tablet/src/routes/order/index.module.css
  apps/master-tablet/src/shared/components/Button/Button.module.css
  apps/master-tablet/src/shared/components/Card/Card.module.css
  apps/master-tablet/src/shared/components/Modal/Modal.module.css
  apps/master-tablet/src/shared/components/Tabs/TabWindow.module.css
  apps/master-tablet/src/shared/components/Tabs/Tabs.module.css
  apps/master-tablet/src/widgets/clock/Clock.module.css
  apps/master-tablet/src/widgets/layout/MainContents/MainContents.module.css
  apps/master-tablet/src/widgets/layout/Menu/Menu.module.css
  apps/master-tablet/src/widgets/logo/Logo.module.css
  apps/master-tablet/src/widgets/modal/LogoutModal.module.css
  apps/master-tablet/src/widgets/modal/SecretModal.module.css
  apps/master-tablet/src/widgets/reload-button/ReloadButton.module.css
  apps/master-tablet/src/widgets/store-menu-buttons/StoreMenuButtons.module.css
  apps/master-tablet/src/widgets/tablet-menu-switches/TabletMenuSwitches.module.css
Labels: none

refactor: [ODPLFE-367] 버튼컴포넌트 분리
  apps/master-tablet/src/shared/components/Button/Button.tsx
  apps/master-tablet/src/shared/components/Button/LinkButton.tsx
  apps/master-tablet/src/shared/components/Button/index.tsx
Labels: none

refactor: [ODPLFE-367] 컴포넌트이름을 간략하게 사용할 수 있도록 변경
  apps/master-tablet/src/routes/__root.tsx
  apps/master-tablet/src/routes/notice/index.lazy.tsx
  apps/master-tablet/src/routes/order/index.lazy.tsx
  apps/master-tablet/src/widgets/layout/Menu/Menu.tsx
Labels: none

build: [ODPLFE-367] pnpm-lock.yaml conflict 해소
  pnpm-lock.yaml
Labels: none

fix: [ODPLFE-367] ui 컴포넌트가 dev dependency 에 포함되어있는 문제 수정
  apps/master-tablet/package.json
Labels: none

refactor: [ODPLFE-367] css style className 에 camelCase 로 접근가능하도록 수정
  apps/master-tablet/src/routes/notice/index.lazy.tsx
  apps/master-tablet/src/routes/order/index.lazy.tsx
  apps/master-tablet/src/shared/components/Button/index.tsx
  apps/master-tablet/src/widgets/tablet-menu-switches/TabletMenuSwitches.tsx
  apps/master-tablet/vite.config.ts
Labels: none

refactor: [ODPLFE-367] master-design-system 을 제거하고 apps/master-tablet 으로 이동
  apps/master-tablet/src/routes/notice/index.lazy.tsx
  apps/master-tablet/src/routes/order/index.lazy.tsx
  apps/master-tablet/src/widgets/clock/Clock.tsx
  apps/master-tablet/src/widgets/layout/Menu/Menu.tsx
  apps/master-tablet/src/widgets/modal/LogoutModal.tsx
  apps/master-tablet/src/widgets/modal/SecretModal.tsx
  apps/master-tablet/src/widgets/reload-button/ReloadButton.tsx
  apps/master-tablet/src/widgets/store-menu-buttons/StoreMenuButtons.tsx
  apps/master-tablet/src/widgets/tablet-menu-switches/TabletMenuSwitches.tsx
  apps/master-tablet/tsconfig.json
  packages/ui/package.json
  packages/ui/src/master-design-system/Button/Button.module.css
  packages/ui/src/master-design-system/Button/Button.stories.tsx
  packages/ui/src/master-design-system/Button/index.tsx
  packages/ui/src/master-design-system/Card/Card.module.css
  packages/ui/src/master-design-system/Card/Card.tsx
  packages/ui/src/master-design-system/Card/CardAction.tsx
  packages/ui/src/master-design-system/Card/CardSubTitle.tsx
  packages/ui/src/master-design-system/Card/CardText.tsx
  packages/ui/src/master-design-system/Card/CardTitle.tsx
  packages/ui/src/master-design-system/Card/index.ts
  packages/ui/src/master-design-system/Icons/IconClose.tsx
  packages/ui/src/master-design-system/Icons/IconLogout.tsx
  packages/ui/src/master-design-system/Icons/IconReload.tsx
  packages/ui/src/master-design-system/Icons/index.tsx
  packages/ui/src/master-design-system/Modal/Modal.module.css
  packages/ui/src/master-design-system/Modal/Modal.tsx
  packages/ui/src/master-design-system/Modal/index.ts
  packages/ui/src/master-design-system/Tabs/Tab.tsx
  packages/ui/src/master-design-system/Tabs/TabWindow.module.css
  packages/ui/src/master-design-system/Tabs/TabWindow.tsx
  packages/ui/src/master-design-system/Tabs/Tabs.module.css
  packages/ui/src/master-design-system/Tabs/Tabs.tsx
  packages/ui/src/master-design-system/Tabs/index.ts
  packages/ui/src/master-design-system/Tabs/useTabs.ts
Labels: ui, packages

refactor: [ODPLFE-367] 불필요한 타입정의를 제거하고 PropsWithChildren 적용
  apps/master-tablet/src/shared/components/Card/CardAction.tsx
  apps/master-tablet/src/shared/components/Card/CardSubTitle.tsx
  apps/master-tablet/src/shared/components/Card/CardText.tsx
  apps/master-tablet/src/shared/components/Card/CardTitle.tsx
Labels: none

fix: [ODPLFE-367] 새로고침버튼의 아이콘이 정상적으로 표시되지 않는 문제 수정
  apps/master-tablet/src/widgets/reload-button/ReloadButton.module.css
  apps/master-tablet/src/widgets/reload-button/ReloadButton.tsx
Labels: none

refactor: [ODPLFE-367] 불필요한 타입정의를 제거하고 PropsWithChildren 적용
  apps/master-tablet/src/shared/components/Card/Card.tsx
  apps/master-tablet/src/shared/components/Card/CardAction.tsx
  apps/master-tablet/src/shared/components/Card/CardSubTitle.tsx
  apps/master-tablet/src/shared/components/Card/CardText.tsx
  apps/master-tablet/src/shared/components/Card/CardTitle.tsx
Labels: none

refactor: [ODPLFE-367] 불필요한 useCallback 함수호출 제거
  apps/master-tablet/src/shared/components/Tabs/useTabs.ts
Labels: none
